/* Use this file to overwrite Bootstrap variable values */

$brand-primary: #56CEE9;
$white: #fff;
$font-family-base: "Bellota", Arial, sans-serif;
$font-size-base: 18px;
$fa-font-path: "../fonts/fontawesome";
