.contact-picture{
  margin-top:                     20vh;
}

.contact-form {
 
  .submit{
    background-color:               $brand-primary;
    color:                          $white;
  }

  .pull-right {
      float:                        none !important;
      margin-top:                   30px;
    }
}