.contactus {
  margin-top:                     20vh;

  .form-horizontal {
 
    .submit{
      background-color:               $brand-primary;
      color:                          $white;
    }

    .pull-right {
      float:                        none !important;
      margin-top:                   30px;
    }
  }  
}