main {
  margin-top:                   $navbar-height*1.5;
  margin-left:                  15px;
  margin-bottom:                70px;
}

.navbar-fixed-top {
  background-color:             $brand-primary;
  height:                       5%;
  padding-bottom:               0;
  margin-bottom:                0;
  

  .container {
    height:                     100%;
  }

  .search {
    float:                      right;
  }

  .navbar-header {


    img {
      float:                    left; 
      width:                    50px;
      height:                   50px;
    }
    
    a {
      color:                    $white;
    }
  
    a:hover, a:focus {
      color:                    $white;
    }
  }

  .menu {
    a {
      color:                    $white;
    }
  
    a:hover, a:focus {
      background-color:         transparent;
    }
  }
}


.footer {
  height:                       40px;
  background-color:             $brand-primary;

  p{
    color:                      $white;
    margin-left:                15px;
    margin-top:                 10px;

    a{
      color:                    #ff8316;
    }
    a:active, a:hover {
      text-decoration:        none;
    }
  }
}
