main {
  margin-top:                   $navbar-height*1.5;
  margin-left:                  15px;
  margin-bottom:                70px;
}

.navbar-top {
  .btn-group {
    .btn {
      background-color:       $white;
    }
  
    a:hover, a:focus {
      background-color:         transparent;
    }
  }

  @media(min-width:517px) and (max-width:750px) {

    a {
      font-size:                15px;
      width:                    40%;
    }
  }

  background:                   url("../../static/img/gateau.jpg");
  background-repeat:            no-repeat;
  background-size:              cover;
  height:                       100%;
  width:                        100%;
  padding:                      0;
  margin:                       0;
  border:                       0;
  border-radius:                0;

  .container {
    width:                      100%;
  }

  .navbar-header {
    
    img {
      float:                    left; 
      width:                    50px;
      height:                   50px;
    }
    
    a {
      @media(min-width:517px) and (max-width:75px) {
        font-size:              14px !important;
      }
      color:                    $white;
    }
  
    a:hover, a:focus {
      color:                    $white;
    }
  }

}

.form-control {
  float:                      right;
  margin-top:                 5px;
  width:                      20%;
}

.footer {
  height:                       40px;
  background-color:             $brand-primary;

  p{
    color:                      $white;
    margin-left:                15px;
    margin-top:                 10px;

    a{
      color:                    #ff8316;
    }
    a:active, a:hover {
      text-decoration:          none;
    }
  }
}
