.navbar-fixed-top {
  background-color:             $brand-primary;

  .navbar-header {
    a {
      color:                    $white;
    }
  
    a:hover, a:focus {
      color:                    $white;
    }
  }

  .menu {
    a {
      color:                    $white;
    }
  
    a:hover, a:focus {
      background-color:         transparent;
    }
  }
}

.footer {
  height:                       40px;
  background-color:             $brand-primary;

  p{
    color:                      $white;
    margin-left:                15px;
    margin-top:                 10px;

    a{
      color:                    #ff8316;
    }
    a:active, a:hover {
      text-decoration:        none;
    }
  }
}