.detail{
  height:                     100vh;
  overflow:                   hidden;

  .title-article {
    background:               rgba(150, 150, 150, .3);
    float:                    left;
    width:                    70%;

    h2 {
      font-family:            "fontleroybrownregular";
    }  
  }

  .author {
    background-repeat:        no-repeat;
    background-size:          cover; 
    float:                    left;
    height:                   100vh;
    text-align:               center;
    width:                    30%;

    >img {
      border-radius:          100%;
      width:                  60%;
    }
  }

  .post {
    float:                    right;
    max-height:               100vh;
    overflow-y:               scroll;
    padding:                  5px;
    width:                    70%;
  }
}

