@font-face {
    font-family: "fontleroybrownregular";
    src: url('#{$icon-font-path}../FontleroyBrown-webfont.eot');
    src: url('#{$icon-font-path}../FontleroyBrown-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$icon-font-path}../FontleroyBrown-webfont.woff') format('woff'),
         url('#{$icon-font-path}../FontleroyBrown-webfont.ttf') format('truetype'),
         url('#{$icon-font-path}../FontleroyBrown-webfont.svg#fontleroybrownregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

