.title-article {

  width:                              100%;

  h2 {
    font-family:                      "fontleroybrownregular";
    font-size:                        50px;
    text-align:                       center;
  }
}

.article {
  width:                              50%;
}

.article-body {
  width:                              50%;
  height:                             30%; 
  padding:                            10px 10px 10px 10px;
  border-radius:                      5px;

  .article-text{
   
    p {
      font-family:                    "Bellota";
      width:                          100%;
      text-align:                     justify;
      float:                          right;
    }

    border-radius:                    5px;
    color:                            darken($brand-primary, 40%);
    padding:                          8px;
  }
  
  .readmore {
    background-color:                 $white;
    float:                            right;
    font-weight:                      bold;
    margin-top:                       -20px;

    a {
      text-decoration:                none;
    }
  }
}

.tag {
  margin-left:                        10px;
  margin-top:                         -20px;
  border:                             none;
}
