{% extends "base.html" %}
{% load staticfiles %}

{%block content %}
  {%for object in object_list%}
    <div class="article {% cycle 'left' 'right' %}">
      <div class="title-article">
        <h2>{{object.title}}</h2>
      </div>
      <div class="article-body {% cycle 'left' 'right' %}"> 
        <div class="article-text">
          <p>{{object.intro|linebreaks}}</p>
        </div>
        {% for tag in object.tags.all %}
          <a href="{% url 'tagged_entries' tag.slug %}" class="tag btn btn-default btn-sm">{{ tag }}</a>
        {% endfor %}
        <a href="{% url 'post_details' object.pk %}" class="readmore btn btn-sm">Lire plus</a>
      </div>
      <img class="intro_pic" src="{{object.intro_pic.url}}">
    </div>
    <div class="clearfix"></div>
  {%endfor%}
{% endblock %}
